<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
	
		<Property name="basePath">src/main/logs</Property>
		
	</Properties>
	
	<Appenders>
	
		<File name="RootLogFile" fileName="${basePath}/rootLogs.log" append="true">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="SecurityLogFile" fileName="${basePath}/securityLogs.log" append="true">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="SpringLogFile" fileName="${basePath}/springLogs.log" append="true">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="UserServiceLogFile" fileName="${basePath}/userServiceLogs.log" append="true">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="TaskServiceLogFile" fileName="${basePath}/taskServiceLogs.log" append="true">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
		
		<File name="ControllerLogFile" fileName="${basePath}/controllerLogs.log" append="true">
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</File>
	
		<Console name="Console" target="SYSTEM_OUT">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
		
	</Appenders>
	
	<Loggers>
		
		<Logger name="org.springframework.security" level="DEBUG" additivity="false">
            <AppenderRef ref="SecurityLogFile"/>
        </Logger>
		
		<Logger name="userService" level="info" additivity="false">
			<AppenderRef ref="UserServiceLogFile" />
			<AppenderRef ref="Console"/>
		</Logger>
		
		<Logger name="taskService" level="info" additivity="false">
			<AppenderRef ref="TaskServiceLogFile" />
			<AppenderRef ref="Console"/>
		</Logger>
		
		<Logger name="spring" level="info" additivity="false">
			<AppenderRef ref="SpringLogFile" />
			<AppenderRef ref="Console"/>
		</Logger>
		
		<Logger name="controller" level="info" additivity="false">
			<AppenderRef ref="ControllerLogFile" />
			<AppenderRef ref="Console"/>
		</Logger>	
			
		<Root level="info">
			<AppenderRef ref="RootLogFile" />
			<AppenderRef ref="Console"/>
		</Root>
		
	</Loggers>
	
</Configuration>