<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tasks</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
	integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
	crossorigin="anonymous">
</head>

<body>

	<div class="topnav">
		<a href="/logout">Logout</a> 
		<a href="/category" sec:authorize="hasRole('ADMIN')">Admin Console</a>
		<a href="/home">My Open Tasks</a>
	</div>

	<div class="container">
	
		<div class="welcome-message">
			<h1 class="text-center">Hello,  <span sec:authentication="principal.username"></span></h1>
		</div>
		
			
		<div class="tasklist">
			<div class="row task" th:each="task : ${tasks}">
				<div class="col-6" th:text="${task.taskName}"></div>
				<div class="col">
					<form method="post" action="task">
						<input type="hidden" name="taskId" th:value="${task.id}"> <input
							type="submit" class="btn btn-sm" value="Open Task">
					</form>
				</div>
				<div class="col">
					<form method="post" action="done">
						<input type="hidden" name="taskId" th:value="${task.id}"> <input
							type="submit" class="btn btn-sm" value="Done">
					</form>
				</div>
				<div class="col">
					<form method="post" action="delete">
						<input type="hidden" name="taskId" th:value="${task.id}"> <input
							type="submit" class="btn btn-sm" value="Delete">
					</form>
				</div>
			</div>
		</div>
		
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
		integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
		crossorigin="anonymous"></script>

</body>
</html>