<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Product</title>
</head>
<body>
<h4><a href="/">Back To Home</a> </h4>
	<form method="post" action="create-user">
			<!-- Use the 'placeholder' tag to be more helpful -->
			<input type="text" name="username" placeholder="Username">
			<!-- Better to use input type="password" rather than "text" -->
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Create Profile">
	</form>
</body>
</html>